.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #c3c3c3;
}
.todo-list-item-label {
  cursor: pointer;
}
.todo-list-item:last-child {
  margin-bottom: 0;
}
.todo-list-item-label.done {
  text-decoration: line-through;
}
.todo-list-item-label.important {
  font-weight: 700;
  color: #1389c0;
}
.btn-item {
  width: 1.5em;
  height: 1.5em;
}
@media (max-width: 360px) {
  .todo-list-item-label,
  .btn-item {
    font-size: 13px;
  }
}