.app {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  padding-left: 0.2em;
  border: 1px solid #c3c3c3;
  outline: none;
}
input:focus {
  border: 2px solid #1389c0;
}
button {
  background: #c3c3c3;
  border: 0;
  border-right: 1px solid #000000;
  outline: none;
  cursor: pointer;
}
button:hover {
  background: #a7a7a7;
  color: #ffffff;
}
button:last-child {
  border-right: 0
}