.item-add-form {
  margin: 1em 0;
}
.form-input {
  width: 15em;
  height: 2em;
  margin-right: .5em;
}
.form-button,
.form-button:hover {
  background: none;
}
.form-button:hover {
  color: #1389c0;
}