.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.app-header h1 {
  font-size: 1.6em;
}
.todo-info {
  margin-top: 1.2em;
  font-size: 1.2em
}
